<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--Testing DBJIWA DEV-->
    <!--<add name="connDBJiwa" connectionString="data source=repository;initial catalog=dbjiwaDev;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connCashManagement" connectionString="data source=repository;initial catalog=CashManagement;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connDBHR" connectionString="data source=repository;Initial Catalog=dBHR;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="connTuguMandiriDB" connectionString="Data Source=in4link;Initial Catalog=TuguMandiriDB;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="connTMDBLive" connectionString="Data Source=dbin4link;Initial Catalog=TMDBLiveNew;User ID=Tugu;Password=R4h4$1a@321!" providerName="System.Data.SqlClient"/>
    <add name ="connMySqlPa" connectionString="Server=182.23.45.131;Port=8001;Database=tossapp;Uid=root;Pwd=TuguMandiri%55" providerName="MySql.Data.MySqlClient"/>
    <add name="connMasterDB" connectionString="data source=repository;initial catalog=MasterDB;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connTDM" connectionString="Data Source=repository;Initial Catalog=TuguInsuranceWeb;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="dbIMS" connectionString="Data Source=imsuat;Initial Catalog=AJTM_IMSSIAP;Persist Security Info=True;Integrated Security=true;" providerName="System.Data.SqlClient"/>-->
    
    <!--Testing DBJIWA CL-->
    <!--<add name="connDBJiwa" connectionString="data source=repository;initial catalog=dbjiwaCL;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connCashManagement" connectionString="data source=repository;initial catalog=CashManagement;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connDBHR" connectionString="data source=repository;Initial Catalog=dBHR;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="connTuguMandiriDB" connectionString="Data Source=in4link;Initial Catalog=TuguMandiriDB;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name ="connMySqlPa" connectionString="Server=182.23.45.131;Port=8001;Database=tossapp;Uid=root;Pwd=TuguMandiri%55" providerName="MySql.Data.MySqlClient"/>   
    <add name="connTMDBLive" connectionString="Data Source=182.23.45.131,8003;Initial Catalog=TMDBLiveNew;User ID=sa;Password=Pa$$-tuguMandir1" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbIMS" connectionString="Data Source=imsuat;Initial Catalog=AJTM_IMSSIAP;Persist Security Info=True;Integrated Security=true;" providerName="System.Data.SqlClient"/>-->
    
    <!-- Testing Repository -->
    <!--<add name="connDBJiwa" connectionString="data source=repository;initial catalog=dbjiwa;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connCashManagement" connectionString="data source=repository;initial catalog=CashManagement;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connDBHR" connectionString="data source=repository;Initial Catalog=dBHR;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="connTuguMandiriDB" connectionString="Data Source=in4link;Initial Catalog=TuguMandiriDB;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name ="connMySqlPa" connectionString="Server=182.23.45.131;Port=8001;Database=tossapp;Uid=root;Pwd=TuguMandiri%55" providerName="MySql.Data.MySqlClient"/>
    <add name="connMasterDB" connectionString="data source=repository;initial catalog=MasterDB;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connTMDBLive" connectionString="Data Source=websvr;Initial Catalog=TMDBLiveNew;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient" />
    <add name="connTDM" connectionString="Data Source=repository;Initial Catalog=TuguInsuranceWeb;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="dbIMS" connectionString="Data Source=imsuat;Initial Catalog=AJTM_IMSSIAP;Persist Security Info=True;Integrated Security=true;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="connTMDBLive" connectionString="Data Source=182.23.45.131,8003;Initial Catalog=TMDBLiveNew;User ID=sa;Password=Pa$$-tuguMandir1" providerName="System.Data.SqlClient"/>-->
    <!--Production-->
    <add name="connDBJiwa" connectionString="Data Source=HPROD01;Initial Catalog=dBJiwa;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="connDBHR" connectionString="Data Source=SVRAPP;Initial Catalog=dBHR;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="connTuguMandiriDB" connectionString="Data Source=in4link;Initial Catalog=TuguMandiriDB;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="connCashManagement" connectionString="Data Source=FINANCE;Initial Catalog=CashManagement;User ID=sa;Password=@jtm2013" providerName="System.Data.SqlClient"/>
    <add name="connMySqlPa" connectionString="Server=182.23.45.131;Port=8001;Database=tossapp;Uid=root;Pwd=TuguMandiri%55" providerName="MySql.Data.MySqlClient"/>
    <add name="connMasterDB" connectionString="data source=repository;initial catalog=MasterDB;user id=uadmin;password=acc112007" providerName="system.data.sqlclient"/>
    <add name="connTMDBLive" connectionString="Data Source=dbin4link;Initial Catalog=TMDBLiveNew;User ID=Tugu;Password=R4h4$1a@321!" providerName="System.Data.SqlClient"/>
    <add name="connTDM" connectionString="Data Source=tdasvr;Initial Catalog=TuguInsuranceWeb;User ID=uadmin;Password=acc112007" providerName="System.Data.SqlClient"/>
    <add name="dbIMS" connectionString="Data Source=192.168.24.85;Initial Catalog=AJTM_IMSSIAP;user=uadmin;password=acc112007" providerName="System.Data.SqlClient"/> 
    
    
    <!--<add name="connTMDBLive" connectionString="Data Source=125.213.128.129;Initial Catalog=TMDBLiveNew;User ID=sa;Password=DilarangMasuk1!" providerName="System.Data.SqlClient"/>-->
    
    <!-- Testing Repository -->
    <!--<add name="connDBJiwa" connectionString="data source=repository;initial catalog=dbjiwa;user id=tesadmin;password=ajtm2020" providerName="system.data.sqlclient"/>
    <add name="connCashManagement" connectionString="data source=repository;initial catalog=CashManagement;user id=tesadmin;password=ajtm2020" providerName="system.data.sqlclient"/>
    <add name="connDBHR" connectionString="data source=repository;Initial Catalog=dBHR;User ID=tesadmin;Password=ajtm2020" providerName="System.Data.SqlClient"/>
    <add name="connMasterDB" connectionString="data source=repository;initial catalog=MasterDB;user id=tesadmin;password=ajtm2020" providerName="system.data.sqlclient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="10675199" maxRequestLength="157286400"/>
    <!--<sessionState timeout="7200"></sessionState>-->
    <sessionState mode="InProc" timeout="20"/>
    <globalization culture="id" uiCulture="id"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="Styles/bootstrap.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <handlers>

      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false"/>
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>